# GMIT 52465 Programming for Data Analysis - Project

## Mark Kelly 14/12/2018



## Problem statement 

For this project you must create a data set by simulating a real-world phenomenon of your choosing. You may pick any phenomenon you wish – you might pick one that is of interest to you in your personal or professional life. Then, rather than collect data related to the phenomenon, you should model and synthesise such data using Python. We suggest you use the numpy.random package for this purpose.

Speciﬁcally, in this project you should: 

• Choose a real-world phenomenon that can be measured and for which you could collect at least one-hundred data points across at least four diﬀerent variables. 

• Investigate the types of variables involved, their likely distributions, and their relationships with each other. • Synthesise/simulate a data set as closely matching their properties as possible. 

• Detail your research and implement the simulation in a Jupyter notebook – the data set itself can simply be displayed in an output cell within the notebook. 

Note that this project is about simulation – you must synthesise a data set. Some students may already have some real-world data sets in their own ﬁles. It is okay to base your synthesised data set on these should you wish (please reference it if you do), but the main task in this project is to create a synthesised data set.

In [155]:
import random
import pandas as pd
import numpy as np


make=["Audi","BMW","Ford","Opel","Skoda","Nissan", "Volkswagen", "Hyundai", "Toyota", "Honda"]
year=["2016","2015", "2014","2013","2012","2011","2010","2009","2008","2007","2006","2005","2004","2003","2002","2001","2000",]
random.shuffle(make)
random.shuffle(year)
print(make)
print(year)

['Toyota', 'Opel', 'Skoda', 'Honda', 'Audi', 'BMW', 'Ford', 'Hyundai', 'Volkswagen', 'Nissan']
['2008', '2001', '2013', '2012', '2003', '2016', '2011', '2009', '2002', '2006', '2015', '2004', '2014', '2010', '2005', '2000', '2007']

In [156]:
df = pd.DataFrame(np.random.binomial(1, 0.3, 1000), columns=["Lighting and Electrical Fails"])
print(df)

     Lighting and Electrical Fails
0                                1
1                                0
2                                1
3                                0
4                                0
5                                0
6                                0
7                                1
8                                0
9                                0
10                               0
11                               0
12                               1
13                               1
14                               0
15                               0
16                               1
17                               0
18                               0
19                               0
20                               0
21                               1
22                               1
23                               0
24                               1
25                               1
26                               0
27                               1
28                               0
29                               0
..                             ...
970                              1
971                              0
972                              1
973                              1
974                              0
975                              0
976                              0
977                              0
978                              0
979                              0
980                              0
981                              1
982                              0
983                              1
984                              0
985                              0
986                              1
987                              0
988                              0
989                              0
990                              0
991                              1
992                              0
993                              0
994                              0
995                              0
996                              0
997                              0
998                              0
999                              0

[1000 rows x 1 columns]

In [157]:
i=0
x=0
makelist = [None]*1000

for i in range(len(df)):
    makelist[x] = random.choice(make)
    x=x+1
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [158]:
df

     Lighting and Electrical Fails
0                                1
1                                0
2                                1
3                                0
4                                0
5                                0
6                                0
7                                1
8                                0
9                                0
10                               0
11                               0
12                               1
13                               1
14                               0
15                               0
16                               1
17                               0
18                               0
19                               0
20                               0
21                               1
22                               1
23                               0
24                               1
25                               1
26                               0
27                               1
28                               0
29                               0
..                             ...
970                              1
971                              0
972                              1
973                              1
974                              0
975                              0
976                              0
977                              0
978                              0
979                              0
980                              0
981                              1
982                              0
983                              1
984                              0
985                              0
986                              1
987                              0
988                              0
989                              0
990                              0
991                              1
992                              0
993                              0
994                              0
995                              0
996                              0
997                              0
998                              0
999                              0

[1000 rows x 1 columns]

In [159]:
se = pd.Series(makelist)
df['Manufacturer'] = se.values

In [160]:
df

     Lighting and Electrical Fails Manufacturer
0                                1       Nissan
1                                0         Ford
2                                1          BMW
3                                0         Audi
4                                0        Skoda
5                                0        Skoda
6                                0        Skoda
7                                1          BMW
8                                0        Honda
9                                0        Skoda
10                               0      Hyundai
11                               0          BMW
12                               1         Ford
13                               1         Audi
14                               0       Toyota
15                               0      Hyundai
16                               1      Hyundai
17                               0      Hyundai
18                               0        Honda
19                               0        Honda
20                               0         Opel
21                               1         Audi
22                               1       Nissan
23                               0         Audi
24                               1   Volkswagen
25                               1          BMW
26                               0        Skoda
27                               1         Ford
28                               0   Volkswagen
29                               0   Volkswagen
..                             ...          ...
970                              1        Skoda
971                              0        Skoda
972                              1      Hyundai
973                              1        Skoda
974                              0          BMW
975                              0        Skoda
976                              0   Volkswagen
977                              0         Ford
978                              0         Opel
979                              0         Opel
980                              0       Nissan
981                              1   Volkswagen
982                              0         Opel
983                              1         Ford
984                              0        Honda
985                              0          BMW
986                              1        Skoda
987                              0       Nissan
988                              0         Ford
989                              0         Ford
990                              0         Opel
991                              1   Volkswagen
992                              0   Volkswagen
993                              0      Hyundai
994                              0        Honda
995                              0       Toyota
996                              0         Ford
997                              0          BMW
998                              0       Nissan
999                              0       Toyota

[1000 rows x 2 columns]

In [161]:
y=0
yearlist = [None]*1000

for i in range(len(df)):
    yearlist[y] = random.choice(year)
    y=y+1
    #print(i)
    
se2 = pd.Series(yearlist)
df['Year'] = se2.values

In [162]:
df

     Lighting and Electrical Fails Manufacturer  Year
0                                1       Nissan  2009
1                                0         Ford  2011
2                                1          BMW  2001
3                                0         Audi  2012
4                                0        Skoda  2001
5                                0        Skoda  2008
6                                0        Skoda  2008
7                                1          BMW  2010
8                                0        Honda  2008
9                                0        Skoda  2002
10                               0      Hyundai  2002
11                               0          BMW  2016
12                               1         Ford  2010
13                               1         Audi  2004
14                               0       Toyota  2011
15                               0      Hyundai  2003
16                               1      Hyundai  2003
17                               0      Hyundai  2002
18                               0        Honda  2000
19                               0        Honda  2002
20                               0         Opel  2005
21                               1         Audi  2011
22                               1       Nissan  2007
23                               0         Audi  2001
24                               1   Volkswagen  2012
25                               1          BMW  2009
26                               0        Skoda  2005
27                               1         Ford  2001
28                               0   Volkswagen  2006
29                               0   Volkswagen  2001
..                             ...          ...   ...
970                              1        Skoda  2005
971                              0        Skoda  2008
972                              1      Hyundai  2001
973                              1        Skoda  2009
974                              0          BMW  2008
975                              0        Skoda  2005
976                              0   Volkswagen  2001
977                              0         Ford  2010
978                              0         Opel  2004
979                              0         Opel  2000
980                              0       Nissan  2003
981                              1   Volkswagen  2012
982                              0         Opel  2016
983                              1         Ford  2014
984                              0        Honda  2000
985                              0          BMW  2016
986                              1        Skoda  2003
987                              0       Nissan  2004
988                              0         Ford  2015
989                              0         Ford  2001
990                              0         Opel  2004
991                              1   Volkswagen  2010
992                              0   Volkswagen  2011
993                              0      Hyundai  2016
994                              0        Honda  2015
995                              0       Toyota  2010
996                              0         Ford  2009
997                              0          BMW  2014
998                              0       Nissan  2003
999                              0       Toyota  2001

[1000 rows x 3 columns]

In [163]:
df['Steering and Suspension Fails'] = np.random.binomial(1, 0.2, 1000)

In [164]:
df['Emissions Fails'] = np.random.binomial(1, 0.3, 1000)

In [165]:
df['Wheels and Tyres Fails'] = np.random.binomial(1, 0.1, 1000)

In [166]:
df['Engine, Noise and Exhaust Fails'] = np.random.binomial(1, 0.1, 1000)

In [167]:
df['Lights Test Fails'] = np.random.binomial(1, 0.4, 1000)

In [168]:
df['Chassis Test Fails'] = np.random.binomial(1, 0.05, 1000)

In [169]:
df

,Lighting and Electrical Fails,Manufacturer,Year,Steering and Suspension Fails,Emissions Fails,Wheels and Tyres Fails,"Engine, Noise and Exhaust Fails",Lights Test Fails,Chassis Test Fails
0,1,Nissan,2009,0,1,0,0,0,1
1,0,Ford,2011,1,0,0,0,1,0
2,1,BMW,2001,0,1,0,0,0,0
3,0,Audi,2012,0,1,0,0,1,0
4,0,Skoda,2001,0,0,0,0,0,0
5,0,Skoda,2008,0,0,0,0,1,0
6,0,Skoda,2008,0,1,0,0,1,0
7,1,BMW,2010,0,1,0,1,1,0
8,0,Honda,2008,0,0,0,0,1,0
9,0,Skoda,2002,0,1,1,0,1,0
10,0,Hyundai,2002,0,1,0,0,1,0
11,0,BMW,2016,1,0,0,0,0,0
12,1,Ford,2010,1,1,0,0,0,0
13,1,Audi,2004,0,1,0,0,0,0
14,0,Toyota,2011,0,0,0,1,1,0
15,0,Hyundai,2003,0,1,0,1,1,1
16,1,Hyundai,2003,1,0,0,0,0,0
17,0,Hyundai,2002,1,0,0,1,0,0
18,0,Honda,2000,1,0,0,0,1,1
19,0,Honda,2002,0,1,0,0,1,0
20,0,Opel,2005,0,0,0,0,1,0
21,1,Audi,2011,0,0,0,0,0,0
22,1,Nissan,2007,0,1,0,0,0,0
23,0,Audi,2001,0,1,0,0,0,0
24,1,Volkswagen,2012,0,0,0,1,1,0
25,1,BMW,2009,0,1,0,0,0,0
26,0,Skoda,2005,1,0,1,0,0,0
27,1,Ford,2001,0,0,0,0,1,0
28,0,Volkswagen,2006,0,0,0,0,1,0
29,0,Volkswagen,2001,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
970,1,Skoda,2005,0,0,0,1,1,0
971,0,Skoda,2008,0,0,0,0,1,0
972,1,Hyundai,2001,0,0,0,0,0,0
973,1,Skoda,2009,1,0,0,0,1,1
974,0,BMW,2008,1,0,0,0,1,0
975,0,Skoda,2005,0,0,0,0,0,0
976,0,Volkswagen,2001,0,1,0,0,0,0
977,0,Ford,2010,0,0,0,0,1,0
978,0,Opel,2004,0,0,0,0,1,0
979,0,Opel,2000,1,1,0,0,1,0
980,0,Nissan,2003,0,1,0,1,0,1
981,1,Volkswagen,2012,0,0,0,0,0,0
982,0,Opel,2016,0,0,0,0,0,0
983,1,Ford,2014,0,0,1,0,0,0
984,0,Honda,2000,0,1,0,0,1,0
985,0,BMW,2016,0,1,0,0,1,0
986,1,Skoda,2003,1,0,0,0,0,0
987,0,Nissan,2004,0,0,0,0,0,0
988,0,Ford,2015,0,1,0,0,1,0
989,0,Ford,2001,0,0,0,0,0,0
990,0,Opel,2004,1,1,0,0,0,0
991,1,Volkswagen,2010,0,0,1,0,1,0
992,0,Volkswagen,2011,1,0,0,0,0,0
993,0,Hyundai,2016,0,1,0,0,1,0
994,0,Honda,2015,0,0,0,0,0,0
995,0,Toyota,2010,0,0,0,0,1,0
996,0,Ford,2009,0,0,0,0,0,0
997,0,BMW,2014,0,0,0,0,1,0
998,0,Nissan,2003,1,0,0,0,0,0
999,0,Toyota,2001,1,0,0,0,1,0

In [170]:
df = df[['Manufacturer', 'Year', 'Steering and Suspension Fails','Emissions Fails', 'Wheels and Tyres Fails','Engine, Noise and Exhaust Fails','Lights Test Fails','Chassis Test Fails']]

In [171]:
df

,Manufacturer,Year,Steering and Suspension Fails,Emissions Fails,Wheels and Tyres Fails,"Engine, Noise and Exhaust Fails",Lights Test Fails,Chassis Test Fails
0,Nissan,2009,0,1,0,0,0,1
1,Ford,2011,1,0,0,0,1,0
2,BMW,2001,0,1,0,0,0,0
3,Audi,2012,0,1,0,0,1,0
4,Skoda,2001,0,0,0,0,0,0
5,Skoda,2008,0,0,0,0,1,0
6,Skoda,2008,0,1,0,0,1,0
7,BMW,2010,0,1,0,1,1,0
8,Honda,2008,0,0,0,0,1,0
9,Skoda,2002,0,1,1,0,1,0
10,Hyundai,2002,0,1,0,0,1,0
11,BMW,2016,1,0,0,0,0,0
12,Ford,2010,1,1,0,0,0,0
13,Audi,2004,0,1,0,0,0,0
14,Toyota,2011,0,0,0,1,1,0
15,Hyundai,2003,0,1,0,1,1,1
16,Hyundai,2003,1,0,0,0,0,0
17,Hyundai,2002,1,0,0,1,0,0
18,Honda,2000,1,0,0,0,1,1
19,Honda,2002,0,1,0,0,1,0
20,Opel,2005,0,0,0,0,1,0
21,Audi,2011,0,0,0,0,0,0
22,Nissan,2007,0,1,0,0,0,0
23,Audi,2001,0,1,0,0,0,0
24,Volkswagen,2012,0,0,0,1,1,0
25,BMW,2009,0,1,0,0,0,0
26,Skoda,2005,1,0,1,0,0,0
27,Ford,2001,0,0,0,0,1,0
28,Volkswagen,2006,0,0,0,0,1,0
29,Volkswagen,2001,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
970,Skoda,2005,0,0,0,1,1,0
971,Skoda,2008,0,0,0,0,1,0
972,Hyundai,2001,0,0,0,0,0,0
973,Skoda,2009,1,0,0,0,1,1
974,BMW,2008,1,0,0,0,1,0
975,Skoda,2005,0,0,0,0,0,0
976,Volkswagen,2001,0,1,0,0,0,0
977,Ford,2010,0,0,0,0,1,0
978,Opel,2004,0,0,0,0,1,0
979,Opel,2000,1,1,0,0,1,0
980,Nissan,2003,0,1,0,1,0,1
981,Volkswagen,2012,0,0,0,0,0,0
982,Opel,2016,0,0,0,0,0,0
983,Ford,2014,0,0,1,0,0,0
984,Honda,2000,0,1,0,0,1,0
985,BMW,2016,0,1,0,0,1,0
986,Skoda,2003,1,0,0,0,0,0
987,Nissan,2004,0,0,0,0,0,0
988,Ford,2015,0,1,0,0,1,0
989,Ford,2001,0,0,0,0,0,0
990,Opel,2004,1,1,0,0,0,0
991,Volkswagen,2010,0,0,1,0,1,0
992,Volkswagen,2011,1,0,0,0,0,0
993,Hyundai,2016,0,1,0,0,1,0
994,Honda,2015,0,0,0,0,0,0
995,Toyota,2010,0,0,0,0,1,0
996,Ford,2009,0,0,0,0,0,0
997,BMW,2014,0,0,0,0,1,0
998,Nissan,2003,1,0,0,0,0,0
999,Toyota,2001,1,0,0,0,1,0